<div>
  <p>Warning: Because local storage or cookie is not used to persist user's session (it is simple, but just do not have time to implement it), every browser refresh will lose user's session.</p>
  <br/>
  <p>Instructions: To test the app properly, please log in using tester@email.com/password.  Then deposit some money (an odd amount will create successful transaction, an even amount transaction will be rejected.)  Then pick your roster.  Have fun!</p>
  <p>To test fantasy nba functionality only, you can log in using money@email.com/password, which should have 40 dollars in the account.</p>
</div>
<div>
  <input tabindex="1" id="userid_inputtext"
         placeholder="Email" type="text" name="userid"
         spellcheck="false" alt="Email" aria-label="User account"
         value="" autocomplete="off" ng-model="username" required />
</div>
<div>
  <input tabindex="2" id="userid_password"
         placeholder="Password" type="password" name="password"
         spellcheck="false" alt="Email or phone" aria-label="Password"
         value="" autocomplete="off" ng-model="password" required />
</div>
<hr/>
<div>
  <button tabindex="3" type="button" class="btn btn-primary" ng-click="login()">
    Sign In
  </button>
</div>

