<div class="modal-header">
  <h3 class="modal-title">Error</h3>
</div>
<div class="modal-body">
  <p>You deposit was rejected.<br/></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">CLOSE</button>
</div>
