<div class="modal-header">
  <h3 class="modal-title">Error</h3>
</div>
<div class="modal-body">
  <p>You do not have sufficient money in your account.  Please click OK to go to deposit page..</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="goToDeposit()">OK</button>
</div>
